[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
[submodule "nxhtml"]
	path = nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
    ignore = dirty
[submodule "scala-mode2"]
	path = scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "yasnippet"]
	path = yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
