ace-jump-mode
dash
ess
flymake-cursor
geiser
jedi
auto-complete
epc
ctable
concurrent
deferred
jinja2-mode
js2-mode
json-mode
markdown-mode
nginx-mode
nrepl
clojure-mode
paredit
popup
rainbow-delimiters
scala-mode2
sml-mode
virtualenv
yasnippet