ace-jump-mode
ess
flymake-cursor
geiser
jedi
auto-complete
epc
ctable
concurrent
deferred
jinja2-mode
js2-mode
json-mode
markdown-mode
nginx-mode
nrepl
dash
clojure-mode
paredit
popup
rainbow-delimiters
scala-mode2
virtualenv
yasnippet