ace-jump-mode
cider
clojure-mode
ess
flymake-cursor
geiser
jedi
auto-complete
epc
ctable
concurrent
deferred
jinja2-mode
js2-mode
json-mode
markdown-mode
multiple-cursors
nginx-mode
paredit
pkg-info
epl
dash
popup
rainbow-delimiters
scala-mode2
sml-mode
virtualenv
yasnippet